.background    { background-image: url("images/Background.jpg");;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background-image: url("images/Lava.jpg"); }
.wall          { background-image: url("images/Walls.jpg");   }

.actor  { position: absolute;  }
.coin   { background-image: url("images/Coin.png");  }
.player { background-image: url("images/Character.png"); }
.floater{ background: white; }
.enemy 	{ background-image: url("images/enemy.png");  }
.spring { background-image: url("images/Spring.png"); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player { background-image: url("images/CharacterDead.png"); }

.won .player { background-image: url("images/Win.png");}
